.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 30px;
}

.table {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 800px;
}

.header-table {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-left: 170px;
  margin-bottom: 10px;
}

.header-table h3 {
  flex: 1;
  text-align: center;
  margin: 0;
}

.dropdown-input {
  width: 140px;
  margin: 0 5px;
  align-self: center;
}

.student {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 10px;
}

.row {
  display: flex;
  flex-direction: row;
}

.student div {
  margin-bottom: 10px;
  margin-right: 10px;
}

.student h3 {
  margin-top: 30px;
}

.avatar {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: 30px;
}

.buttonDiv {
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
}

button {
  width: 100px;
  background-color: black;
  color: white;
}
